<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"> 
<f:layout name="Default" />
<f:section name="Main">

<style>
	.jumbocontainer {
		height: calc(100vh - {content.responsiveheightsmall}px);
	}
</style>

<f:if condition="{content.breakpoint}">
	<f:then>
		<style>
			@media only screen and (min-width: {content.breakpoint}px) {
				.jumbocontainer {
					height: calc(100vh - {content.responsiveheightmedium}px);
				}
			}
		</style>
	</f:then>
</f:if>
<div class="cardcontainer type{content.cardtype}">
	<f:if condition="{content.cardtype} =5">
	<div class="innerwrap">
		<div class="bigbox">
			<div class="text0">
				<h1 class="countdown">
					Noch
<div class="tick"

     data-did-init="handleTickInit">



    <div data-repeat="true"

         data-layout="horizontal center fit"

         data-transform="preset(d, h, m, s) -> delay">



        <div class="tick-group">



            <div data-key="value"

                 data-repeat="true"

                 data-transform="pad(00) -> split -> delay">



                <span data-view="flip"></span>



            </div>



            <span data-key="label"

                  data-view="text"

                  class="tick-label"></span>



        </div>



    </div>



</div>
					Tage bis zur Wahl - Das kannst du jetzt tun
				</h1>
			</div>
		</div>
        <script type="text/javascript">
        <![CDATA[
	function handleTickInit(tick) {
		var nextYear = (new Date()).getFullYear() + 1;
		Tick.count.down(nextYear + '-01-01').onupdate = function(value) {
			tick.value = value;
		};
        ]]>
        </script>

		<div class="smallerboxes">
		        <div class="cardtextoverlay text1">
		                <h2>
		                        {content.title1}
		                </h2>
		                <h3>
		                {content.subtitle1}
		                </h3>
		        </div>

		        <div class="cardtextoverlay text2">
        		        <h2>
                		        {content.title2}
				</h2>
				<h3>
					{content.subtitle2}
				</h3>
			</div>
			<div class="cardtextoverlay text3">
				<h2>
					{content.title3}
				</h2>
				<h3>
					{content.subtitle3}
				</h3>
			</div>
			<div class="cardtextoverlay text4">
				<h2>
					{content.title4}
				</h2>
				<h3>
					{content.subtitle4}
				</h3>
			</div>
		</div>
	</div>
</f:if>
<f:for each="{images}" as="image">
		<div class="beimage">
			<f:image image="{image.originalFile}" />
		</div>
</f:for>
</div>
</f:section>
</html>

