/* 
    Created on : 29.09.2016, 21:29:06
    Author     : dwildt
*/

#bodyId-1 .maincontent h2 {
    background: #EE7F00;
    color: white;
    margin: 0;
    padding: 0 0.2em;
    font-size: 1.2em;
}

footer h1 {
    font-size: 1.0em;
    padding-top: 1em;
}
footer .side-nav {
    margin-left: -0.875em;
    padding: 0 0 1em;
}

.indexBrowser dt {
    display: none;
}
.sub-nav dt a, 
.sub-nav dd a, 
.sub-nav li a {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.listview .pricing-table {
    height: 35.6em;
    max-height: 35.6em;
    min-height: 35.6em;
    overflow: hidden;
}
.listview .pricing-table .bullet-item.image {
    max-height: 21em;
    overflow: hidden;
    min-height: 21em;
    height: 21em;
}
img {
    max-width: 100%;
    height: auto;
}
.tx-browser-pi1 .listview .image {
    float: none;
}