<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<table class="woPaddingLeft fullWidth">
		<tr class="white">
			<td>
				<div class="form-group">
					<label for="txStartSocialFacebook">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialFacebook" />
					</label>
					<f:form.textfield property="txStartSocialFacebook" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartSocialFlickr">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialFlickr" />
					</label>
					<f:form.textfield property="txStartSocialFlickr" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartSocialGithub">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialGithub" />
					</label>
					<f:form.textfield property="txStartSocialGithub" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartSocialGoogleplus">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialGoogleplus" />
					</label>
					<f:form.textfield property="txStartSocialGoogleplus" class="form-control"/>
				</div>
			</td>
		</tr>
		<tr class="white">
			<td>
				<div class="form-group">
					<label for="txStartSocialInstagram">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialInstagram" />
					</label>
					<f:form.textfield property="txStartSocialInstagram" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartSocialLinkedin">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialLinkedin" />
					</label>
					<f:form.textfield property="txStartSocialLinkedin" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartSocialPicasa">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialPicasa" />
					</label>
					<f:form.textfield property="txStartSocialPicasa" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartSocialPinterest">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialPinterest" />
					</label>
					<f:form.textfield property="txStartSocialPinterest" class="form-control"/>
				</div>
			</td>
		</tr>
		<tr class="white">
			<td>
				<div class="form-group">
					<label for="txStartSocialSpotify">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialSpotify" />
					</label>
					<f:form.textfield property="txStartSocialSpotify" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartSocialTwitter">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialTwitter" />
					</label>
					<f:form.textfield property="txStartSocialTwitter" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartSocialVimeo">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialVimeo" />
					</label>
					<f:form.textfield property="txStartSocialVimeo" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartSocialYoutube">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartSocialYoutube" />
					</label>
					<f:form.textfield property="txStartSocialYoutube" class="form-control"/>
				</div>
			</td>
		</tr>
	</table>
</html>