<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="form-group">
		<label for="txStartAddressline">
			<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartAddressline" />
		</label>
		<f:form.textfield property="txStartAddressline" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="txStartEmail">
			<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartEmail" />
		</label>
		<f:form.textfield property="txStartEmail" class="form-control"/>
	</div>
</html>