<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <table class="woPaddingLeft fullWidth">
    <tr class="white">
      <td width="33.3%">
        <div class="form-group">
          <label for="txStartPagesRoot">
            <f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartPagesRoot" />
          </label>
          <f:form.select property="txStartPagesRoot" options="{arrPagetree}"  size="20" value="{page.txStartPagesRoot}"/>
        </div>
      </td>      
      <td width="33.4%">
        &nbsp;
      </td>
      <td width="33.3%">
        &nbsp;
      </td>
    </tr>
  </table>
</html>