<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<table class="woPaddingLeft fullWidth">
		<tr class="white">
			<td>
				<div class="form-group">
					<label for="txStartFoundationTopbarName">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartFoundationTopbarName" />
					</label>
					<f:form.textfield property="txStartFoundationTopbarName" class="form-control"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="txStartFoundationTopbarTitle">
						<f:translate key="LLL:EXT:start/Resources/Private/Language/pages.xlf:txStartFoundationTopbarTitle" />
					</label>
					<f:form.textfield property="txStartFoundationTopbarTitle" class="form-control"/>
				</div>
			</td>
		</tr>
	</table>
</html>