<style>
	.jumboteaserContainer {
		height: calc(100vh - {content.responsiveheightsmall}px);
	}
			.teasercard {
				filter: brightness({content.brightness}%);
			}
</style>

<f:if condition="{content.breakpoint}">
	<f:then>
		<style>
			@media only screen and (min-width: {content.breakpoint}px) {
				.jumboteaserContainer {
					height: calc(100vh - {content.responsiveheightmedium}px);
				}
			}
		</style>
	</f:then>
</f:if>

<f:if condition="{images.0}">
	<f:variable name="classWiImage">wiImage</f:variable>
</f:if>

<div class="jumboteaserContainer {classWiImage}">
	<div class="jumboteaserTextoverlay" style="top:{content.distanceFromTop}%;">
		<f:render partial="Wrap" arguments="{tag: 'h1', link: content.cta, text: content.title}"/>
		<f:render partial="Wrap" arguments="{tag: 'p', link: content.cta, text: content.subtitle}"/>
		<f:if condition="{content.cta}">
			<p>
			<f:link.typolink class="button" parameter="{content.cta}">{content.buttonlabel}</f:link.typolink>
			</p>
		</f:if>
	</div>
	<f:if condition="{images.0}">
		<div class="beimage">
			<f:image image="{images.0.originalFile}"/>
		</div>
	</f:if>
</div>
