<style>
	.jumbocontainer {
		height: calc(100vh - {content.responsiveheightsmall}px);
	}
</style>

<f:if condition="{content.breakpoint}">
	<f:then>
		<style>
			@media only screen and (min-width: {content.breakpoint}px) {
				.jumbocontainer {
					height: calc(100vh - {content.responsiveheightmedium}px);
				}
			}
		</style>
	</f:then>
</f:if>

<div class="jumbocontainer">
	<div class="jumbotextoverlay" style="top:{content.distanceFromTop}%;">
		<h1>
			<f:link.typolink parameter="{data.header_link}"><f:format.raw>{data.header}</f:format.raw></f:link.typolink>
		</h1>
		<p>
		<f:link.typolink parameter="{data.header_link}"><f:format.raw>{data.subheader}</f:format.raw></f:link.typolink>
		</p>
		<f:if condition="{data.header_link}">
			<p>
			<f:link.typolink class="button" parameter="{data.header_link}">{content.buttonlabel}</f:link.typolink>
			</p>
		</f:if>
	</div>
	<f:for each="{images}" as="image">
		<div class="slide">
			<f:image image="{image.originalFile}" />
		</div>
	</f:for>
</div>
