<f:if condition="{images.0}">
	<style>
		.headlinecontainer {
			background:
				linear-gradient(rgba(0,0,0,{content.brightness/100}), rgba(0,0,0,{content.brightness/100})),
			url(<f:uri.image image="{images.0}" />) 
				center;
		}
		.headlinetextoverlay {
			padding-top:{content.paddingtopbottom}px;
			padding-bottom:{content.paddingtopbottom}px;
			text-align: {data.header_position};
		}
	</style>
</f:if>
<div class="headlinecontainer">
	<div class="headlinetextoverlay {content.paddingleftright}">
		<f:render partial="Wrap" arguments="{tag: 'h1', link: data.header_link, text: data.header}"/>
		<f:render partial="Wrap" arguments="{tag: 'p', link: data.header_link, text: data.subheader}"/>
	</div>
</div>
