
/***********************************************************
* Added by TYPO3 Start                                     *
* typo3conf/ext/start/Resources/Public/Css/EMail/start.css *
***********************************************************/

body {
  background-color: #2199e8;
	/*	automatische Schriftgrößenanpassung von iOS verhindern*/
	-webkit-text-size-adjust: 100%;
}

figure {
	margin:0;
}

img {
	height: auto;
	max-height: 100%;
}

table.body {
  background-color: #2199e8;
}
table.body th.header {
	padding: 0px;
}

table.body .footer {
  background-color:#2199e8;
  color:#FFFFFF;
	padding-top:12px;
}
table.body .footer td,
table.body .footer td p {
  color:#FFFFFF;
}
table.body .footer td a {
  color:#00004d;
}
table.body .footer td a:active,
table.body .footer td a:hover
{
  color:#FFFFFF;
}

table.body .webversion {
  background-color:#00004d;
  color: #2199e8;
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
  padding: 2px 0;
  text-align: center;
}
table.body .webversion a {
  color: #FFFFFF;
	font-weight:bold;
}
table.body .webversion a:hover {
  color:#2199e8;
}
table.body .webversion a:active {
  color:#2199e8;
}

table.container {
  background-color: #FFFFFF;
}