
/***********************************************************
* Added by TYPO3 Start                                     *
* typo3conf/ext/start/Resources/Public/Css/EMail/start.css *
***********************************************************/

.webversion {
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
  text-align: center;
}

