
/***********************************************************
* Added by TYPO3 Start                                     *
* typo3conf/ext/start/Resources/Public/Css/EMail/typo3.css *
***********************************************************/

/*div.csc-textpic-intext-left .csc-textpic-imagewrap,
div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {
  margin-left: 10px;
  margin-right: 10px;
}
div.csc-textpic-intext-right .csc-textpic-imagewrap,
div.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {
  margin-left: 10px;
  margin-right: 10px;
}
*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
