<f:section name="li">
	<f:if condition="{link}">
		<f:render partial="Wrap" arguments="{tag: 'li', class: '', link: link, text: label}"/>
	</f:if>
</f:section>

<f:section name="ul">
	<f:if condition="{content.linkvalue1} || {content.linkvalue2} || {content.linkvalue3}">
		<ul class="bottom">
			<f:render section="li" arguments="{link: content.linkvalue1, label: content.linklabel1}"/>
			<f:render section="li" arguments="{link: content.linkvalue2, label: content.linklabel2}"/>
			<f:render section="li" arguments="{link: content.linkvalue3, label: content.linklabel3}"/>
		</ul>
	</f:if>
</f:section>

<f:variable name="title">
	<f:render partial="Teasercard/Countdown" arguments="{content: content, title: content.title0}"/>
</f:variable>
<f:variable name="sClass">{settings.start.ce.teasercard.css.panelsubtitle}</f:variable>
<f:variable name="sTag">{settings.start.ce.teasercard.html.paneltagsubtitle}</f:variable>
<f:variable name="tClass">{settings.start.ce.teasercard.css.paneltitle}</f:variable>
<f:variable name="tTag">{settings.start.ce.teasercard.html.paneltagtitle}</f:variable>

<div class="large-4 columns boxleft">
	<f:image image="{images.0.originalFile}" class="cover"/>
</div>
<div class="large-8 columns boxright">
	<{tTag} class="{tClass}"><f:format.raw>{content.title1}</f:format.raw></{tTag}>				
	<{sTag} class="{sClass}"><f:format.raw>{content.subtitle1}</f:format.raw></{sTag}>				
	<f:if condition='{content.cta1}'>
		<f:link.typolink parameter="{content.cta1}" class="{settings.start.ce.teasercard.css.button}">{content.buttonlabel1}</f:link.typolink>
	</f:if>
	<f:render section="ul" arguments="{_all}"/>
</div>	
