<f:variable name="then" value="{content.eventdate}" />
<f:variable name="now" value="{f:format.date(date: '', format: 'U')}" />
<f:variable name="diff" value="{then - now}" />
<f:if condition="{diff} > 0">
	<f:variable name="days" value="{diff/86400}" />
	<f:variable name="daysO" value="{days % 10}" />
	<f:variable name="dayst" value="{days % 100}" />
	<f:variable name="daysT" value="{dayst -daysO}" />
	<f:variable name="daysT" value="{daysT/10}" />
	<f:variable name="daysh" value="{days % 1000}" />
	<f:variable name="daysH" value="{daysh - dayst}" />
	<f:variable name="daysH" value="{daysH/100}" />
	<f:variable name="daysm" value="{days % 10000}" />
	<f:variable name="daysM" value="{daysm - daysh}" />
	<f:variable name="daysM" value="{daysM/1000}" />
</f:if>

<div class="innerwrap">
	<div class="bigbox">
		<div class="text0">
			<h1 class="countdown">
				Noch
				<f:if condition="{daysM} >= 1">
					<span class="number"><f:format.number decimals="0">{daysM}</f:format.number></span>
				</f:if>
				<f:if condition="{daysH} >= 1">
					<span class="number"><f:format.number decimals="0">{daysH}</f:format.number></span>
				</f:if>
				<span class="number"><f:format.number decimals="0">{daysT}</f:format.number></span>
				<span class="number"><f:format.number decimals="0">{daysO}</f:format.number></span>
				Tage bis zur Wahl - Das kannst du jetzt tun
			</h1>
		</div>
	</div>
	<div class="smallerboxes">
		<div class="cardtextoverlay text1">
			<h2>
				{content.title1}
			</h2>
			<p>
				{content.subtitle1}
			</p>
		</div>

		<div class="cardtextoverlay text2">
			<h2>
				{content.title2}
			</h2>
			<p>
				{content.subtitle2}
			</p>
		</div>
		<div class="cardtextoverlay text3">
			<h2>
				{content.title3}
			</h2>
			<p>
				{content.subtitle3}
			</p>
		</div>
		<div class="cardtextoverlay text4">
			<h2>
				{content.title4}
			</h2>
			<p>
				{content.subtitle4}
			</p>
		</div>
	</div>
</div>
