<f:variable name="title">
	<f:render partial="Teasercard/Countdown" arguments="{content: content, title: content.title0}"/>
</f:variable>

<f:variable name="classSize1"></f:variable>
<f:if condition="{content.fontsize1}!='default'">
	<f:variable name="classSize1"> {content.fontsize1}</f:variable>
</f:if>
<f:variable name="classSize2"></f:variable>
<f:if condition="{content.fontsize2}!='default'">
	<f:variable name="classSize2"> {content.fontsize2}</f:variable>
</f:if>
<f:variable name="classSize3"></f:variable>
<f:if condition="{content.fontsize3}!='default'">
	<f:variable name="classSize3"> {content.fontsize3}</f:variable>
</f:if>
<f:variable name="classSize4"></f:variable>
<f:if condition="{content.fontsize4}!='default'">
	<f:variable name="classSize4"> {content.fontsize4}</f:variable>
</f:if>


<div class="large-6 columns boxleft">
	<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.tagtitle, class: settings.start.ce.teasercard.css.title, text: title, noNl2br: 1}"/>
	<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.tagsubtitle, class: settings.start.ce.teasercard.css.subtitle, text: content.subtitle0}"/>
</div>
<div class="large-6 columns boxright">
	<div class="row">
		<div class="medium-6 columns">
			<div class="box-1 {settings.start.ce.teasercard.css.panel}{classSize1}">
				<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.paneltagtitle, class: settings.start.ce.teasercard.css.paneltitle, link: content.cta1, text: content.title1}"/>
				<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.paneltagsubtitle, class: settings.start.ce.teasercard.css.panelsubtitle, link: content.cta1, text: content.subtitle1}"/>
			</div>
		</div>
		<div class="medium-6 columns">
			<div class="box-2 {settings.start.ce.teasercard.css.panel}{classSize2}">
				<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.paneltagtitle, class: settings.start.ce.teasercard.css.paneltitle, link: content.cta2, text : content.title2}"/>
				<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.paneltagsubtitle, class: settings.start.ce.teasercard.css.panelsubtitle, link: content.cta2, text : content.subtitle2}"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="medium-6 columns">
			<div class="box-3 {settings.start.ce.teasercard.css.panel}{classSize3}">
				<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.paneltagtitle, class: settings.start.ce.teasercard.css.paneltitle, link: content.cta3, text : content.title3}"/>
				<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.paneltagsubtitle, class: settings.start.ce.teasercard.css.panelsubtitle, link: content.cta3, text : content.subtitle3}"/>
			</div>
		</div>
		<div class="medium-6 columns">
			<div class="box-4 {settings.start.ce.teasercard.css.panel}{classSize4}">
				<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.paneltagtitle, class: settings.start.ce.teasercard.css.paneltitle, link: content.cta4, text : content.title4}"/>
				<f:render partial="Wrap" arguments="{tag: settings.start.ce.teasercard.html.paneltagsubtitle, class: settings.start.ce.teasercard.css.panelsubtitle, link: content.cta4, text : content.subtitle4}"/>
			</div>
		</div>
	</div>
	<f:if condition='{content.cta0}'>
		<div class="{settings.start.ce.teasercard.css.divbutton}">
			<f:link.typolink parameter="{content.cta0}" class="{settings.start.ce.teasercard.css.button}">{content.buttonlabel0}</f:link.typolink>
		</div>
	</f:if>
</div>	
