<f:variable name="title">
	<f:render partial="Teasercard/Countdown" arguments="{content: content, title: content.title0}"/>
</f:variable>

<div class="large-4 columns boxleft">
	<f:image image="{images.0.originalFile}" class="cover"/>
</div>
<div class="large-8 columns boxright">
	<f:render partial="Wrap" arguments="{tag: 'h2', class: 'countdown', text: title, noNl2br: 1}"/>
	<f:render partial="Wrap" arguments="{tag: 'p', text: content.subtitle0}"/>
	<f:if condition='{content.cta0}'>
		<f:link.typolink parameter="{content.cta0}" class="{settings.start.ce.teasercard.css.button}">{content.buttonlabel0}</f:link.typolink>
	</f:if>
	<f:if condition='{content.cta1}'>
		<f:link.typolink parameter="{content.cta1}" class="{settings.start.ce.teasercard.css.button}">{content.buttonlabel1}</f:link.typolink>
	</f:if>
	<f:if condition='{content.cta2}'>
		<f:link.typolink parameter="{content.cta2}" class="{settings.start.ce.teasercard.css.button}">{content.buttonlabel2}</f:link.typolink>
	</f:if>
	<f:if condition='{content.cta3}'>
		<f:link.typolink parameter="{content.cta3}" class="{settings.start.ce.teasercard.css.button}">{content.buttonlabel2}</f:link.typolink>
	</f:if>
	<f:if condition='{content.cta4}'>
		<f:link.typolink parameter="{content.cta4}" class="{settings.start.ce.teasercard.css.button}">{content.buttonlabel2}</f:link.typolink>
	</f:if>
</div>	
