<f:if condition="{text}">
	<f:if condition="{tag}">
		<f:if condition="{image}">
			<f:then>
				<f:variable name="title"> title="{image.title} {image.properties.copyright -> f:format.stripTags()}"</f:variable>
			</f:then>
		</f:if>
		<f:if condition="{noNl2br} != 1">
			<f:then>
				<f:variable name="content"><f:link.typolink parameter="{link}"><f:format.nl2br>{text}</f:format.nl2br></f:link.typolink></f:variable>
			</f:then>
			<f:else>
				<f:variable name="content"><f:link.typolink parameter="{link}">{text}</f:link.typolink></f:variable>
			</f:else>
		</f:if>
		<f:if condition="{class}">
			<f:then>
				<f:variable name="class"> class="{class}"</f:variable>
			</f:then>
		</f:if>
		<{tag}{class -> f:format.raw()}{title -> f:format.raw()}><f:format.raw>{content}</f:format.raw></{tag}>
	</f:if>
</f:if>
