body {
	/* #i0196, 190110, dwildt, 1+ */
	overflow-x: hidden;
}


/* Class is required for left and right columns: if columns are empty, they will still be displayed. */
/* 1025px */
@media only screen and (min-width: 64.0625em) {
	.columns:empty:before {
		content: '\00a0\00a0';
	}
}
/* #i0260, #t4060, 1+ */
#startBox01 .slick-sync figcaption {
	display: none;
}

#startBox01 .row.expanded {
	max-width: inherit;
	padding:0;
	width: 100%;
}
#startBox01 .row.expanded > .columns {
	padding:0;
}
#startBox01 .row.main.fullwidth {
	max-width: inherit;
	width: 100%;
}

@media print {
  #startBox01 a,
  #startBox01 a:visited {
    text-decoration: inherit; }

  #startBox01 a[href]:after {
    content: ""; }
}

#startBox01 .align-center { text-align: center; }
#startBox01 .align-right { text-align: right; }
#startBox01 .align-left { text-align: left; }

/* #i0091, 170303, dwildt: responsive images */
#startBox01 figure,
#startBox01 div.csc-textpic .csc-textpic-imagewrap figure,
#startBox01 figcaption,
#startBox01 figcaption.csc-textpic-caption {
	display: block;
	margin: 0;
}
.startFigCaptionHideForSmallOnly figcaption {
	display: none;
}

/* #i0091, 170303, dwildt: responsive images */
#startBox01 div.csc-textpic div.csc-textpic-imagecolumn,
#startBox01 .csc-textpic-imagewrap {
	max-width: 100%;
}
#startBox01 .csc-textpic-center img {
	margin:0 auto;
}

#startBox01 .clearing-thumbs .tx_browser_wrapbefore {
	clear: both;
}

.startBackgroundFixed,
.startBackgroundFixed > div {
	background-attachment: fixed;
}
.startBackgroundScroll,
.startBackgroundScroll > div {
	background-attachment: scroll;
}
.startBackgroundWhite {
	color: #0A321E;
  background: #FFFFFF;
}

.startContainer {
	margin: 0 auto;
	padding: 0 .9375rem;
}
.startWidth0125 {
	max-width:12.5rem;
}
.startWidth0250 {
	max-width:25.0rem;
}
.startWidth0375 {
	max-width:37.5rem;
}
.startWidth0500 {
	max-width:50.0rem;
}
.startWidth0625 {
	max-width:62.5rem;
}
.startWidth0750 {
	max-width:75.0rem;
}
.startWidth0875 {
	max-width:87.5rem;
}
.startWidth1000 {
	max-width:100.0rem;
}
.startWidth1125 {
	max-width:112.5rem;
}

.startEffectShake01 {
  animation: 2s startEffectShake01 infinite alternate;
}
.startEffectZoom01 {
  transition: transform .2s;
}

.startEffectZoom01:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
	z-index:10;
}

@keyframes startEffectShake01 {
  0% { transform: skewX(-5deg); }
  1% { transform: skewX(5deg); }
  2% { transform: skewX(-5deg); }
  3% { transform: skewX(5deg); }
  4% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

.startFontLightOnDark,
.startFontLightOnDark * {
	color:white;
}

/* Respect the order: startFormFieldsetWoAll must be on top all other startFormFieldset* */
.startFormFieldsetWoAll fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.startFormFieldsetWiBorderBottom fieldset {
	border-bottom: 1px solid #ddd;
	padding-bottom: 2em;
}
.startFormFieldsetWiBorderLeft fieldset {
	border-left: 1px solid #ddd;
	padding-left: 2em;
}
.startFormFieldsetWiBorderRight fieldset {
	border-right: 1px solid #ddd;
	padding-right: 2em;
}
.startFormFieldsetWiBorderTop fieldset {
	border-top: 1px solid #ddd;
	padding-top: 2em;
}
.startFormFieldsetWiPaddingBottom fieldset {
	padding-bottom: 1em;
}
.startFormFieldsetWiPaddingLeft fieldset {
	padding-left: 1em;
}
.startFormFieldsetWiPaddingRight fieldset {
	padding-right: 1em;
}
.startFormFieldsetWiPaddingTop fieldset {
	padding-top: 1em;
}
.startFormLegendWo legend {
	display: none;
}


.startHyphensAuto,
.startHyphensAuto p {
	hyphens:auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
}
.startHyphensNone,
.startHyphensNone p {
	hyphens:none;
}

.startImgCircle img {
	border-radius: 20em;
}
.startImgCircleReset img {
	border-radius: inherit;
}
.startImgWiShadow,
.startImgWiShadow div.csc-textpic,
.startImgWiShadow div.csc-textpic div.csc-textpic-imagerow,
.startImgWiShadow div.csc-textpic div.csc-textpic-imagewrap,
.startImgWiShadow ul.csc-uploads li {
	overflow: visible;
}
.startImgWiShadow img,
.startImgWiShadow .frame-type-image {
  -moz-box-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.startImgWiShadowReset,
.startImgWiShadowReset div.csc-textpic,
.startImgWiShadowReset div.csc-textpic div.csc-textpic-imagerow,
.startImgWiShadowReset div.csc-textpic div.csc-textpic-imagewrap,
.startImgWiShadowReset ul.csc-uploads li {
	overflow: hidden;
}
.startImgWiShadowReset img {
  -moz-box-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.startShadow {
  -moz-box-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-bottom: 0.9375rem;
}

.startTextAlignCenter,
.startTextAlignCenter h1,
.startTextAlignCenter h2,
.startTextAlignCenter h3,
.startTextAlignCenter h4,
.startTextAlignCenter h5,
.startTextAlignCenter h6,
.startTextAlignCenter p {
	text-align: center;
}
.startTextAlignJustify,
.startTextAlignJustify h1,
.startTextAlignJustify h2,
.startTextAlignJustify h3,
.startTextAlignJustify h4,
.startTextAlignJustify h5,
.startTextAlignJustify h6,
.startTextAlignJustify p {
	text-align: justify;
}
.startTextAlignLeft,
.startTextAlignLeft h1,
.startTextAlignLeft h2,
.startTextAlignLeft h3,
.startTextAlignLeft h4,
.startTextAlignLeft h5,
.startTextAlignLeft h6,
.startTextAlignLeft p {
	text-align: left;
}
.startTextAlignRight,
.startTextAlignRight h1,
.startTextAlignRight h2,
.startTextAlignRight h3,
.startTextAlignRight h4,
.startTextAlignRight h5,
.startTextAlignRight h6,
.startTextAlignRight p {
	text-align: right;
}

.startWiMarginAuto {
  margin-left: auto;
  margin-right: auto;
}
.startWiMarginDefault {
  padding: 0.9375rem 0.9375rem 0.2rem 0.9375rem;
}

.startWiMarginLeft17percent,
.startWiMarginLeft25percent,
.startWiMarginLeft33percent {
	margin-left:0;
}
.startWiMarginLeftRight08percent,
.startWiMarginLeftRight17percent,
.startWiMarginLeftRight25percent,
.startWiMarginLeftRight33percent {
	margin-left:0;
	margin-right:0;
}
.startWiMarginRight17percent,
.startWiMarginRight25percent,
.startWiMarginRight33percent {
	margin-right:0;
}
@media only screen and (min-width: 40.0625em) {
	.startWiMarginLeft17percent {
		margin-left: calc(16.66667% + 0.3125rem);
	}
	.startWiMarginLeftRight08percent {
		margin-left: 67px;
		margin-right: 67px;
	}
	.startWiMarginLeftRight17percent {
		margin-left: calc(16.66667% + 0.3125rem);
		margin-right: calc(16.66667% + 0.3125rem);
	}
	.startWiMarginLeft25percent {
		margin-left: calc(25% + 0.4687rem);
	}
	.startWiMarginLeftRight25percent {
		margin-left: calc(25% + 0.4687rem);
		margin-right: calc(25% + 0.4687rem);
	}
	.startWiMarginRight17percent {
		margin-right: calc(16.66667% + 0.3125rem);
	}
	.startWiMarginRight25percent {
		margin-right: calc(25% + 0.4687rem);
	}
}
@media only screen and (min-width: 64.0625em) {
	.startWiMarginLeft33percent {
		margin-left: calc(33.33333% + 0.625rem);
	}
	.startWiMarginLeftRight33percent {
		margin-left: calc(33.33333% + 0.625rem);
		margin-right: calc(33.33333% + 0.625rem);
	}
	.startWiMarginLeftRight33percent {
		margin-right: calc(33.33333% + 0.625rem);
	}
}
.startWiPaddingLeftRightDefault {
	padding-left:0.9375rem;
	padding-right:0.9375rem;
}

.startWoMarginBottom {
  padding-bottom: 0;
  margin-bottom: 1rem;
}

#startBox01 .maincontentleft {
	/* #i0246, 190618, dwildt, 1- */
	/*padding-left:0rem;*/
}
#startBox01 .maincontentright {
	padding-right:0rem;
}

.startWiMarginTopBottom {
	margin-top: 0.9375rem;
	margin-bottom: 0.9375rem;
}
.startWiPaddingLeftDouble {
	padding-left: 1.875rem;
}
.startWoMarginLeft {
	margin-left: -0.9375rem;
}
.startWoMarginLeftRight {
	/*margin: 0 -0.9375rem;*/
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
}
.startWoMarginRight {
	margin-right: -0.9375rem;
}
.startTopMinus1Em {
	margin-top: -0.9375rem;
}

#startBox01 .fi-icon-125 div:first-child {
	height: 12.5rem;
}

#startBox01 .fi-icon-125 div:first-child i {
	font-size: 12.5rem;
	position: relative;
	top: -2.5rem;
}

#startBox01 .pad-left {
  padding-left: 0.9375rem;
}
#startBox01 .pad-right {
  padding-right: 0.9375rem;
}

#startBox01 .no-pad-left {
  padding-left: 0;
}
#startBox01 .no-pad-right {
  padding-right: 0;
}

#startBox01 .text-overflow-ellipsis {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

#startBox01 .vertical nav li.separator {
	color:transparent;
	line-height:2.8125rem
}

#startBox01 .siteLineTop div.icons {
	float:right;
	font-size: 1.4em;
}
#startBox01 .siteLineTop ul a,
#startBox01 .siteLineTop div.icons a {
	/*color:#FFFFFF;*/
}
#startBox01 .siteLineTop div.icons a {
	margin-left:.6em;
	position:relative;
	top:-5px;
}
#startBox01 .siteLineTop ul a:active,
#startBox01 .siteLineTop ul a:hover,
#startBox01 .siteLineTop ul a:focus,
#startBox01 .siteLineTop div.icons a:active,
#startBox01 .siteLineTop div.icons a:hover,
#startBox01 .siteLineTop div.icons a:focus {
	/*color:#FFD500;*/
}

/* #t4959, 200422, dwildt, 13-*/
/*#startBox01 .siteLine .side-nav {
	padding: 0;
	text-align:right;
}
#startBox01 .siteLine .side-nav li {
	display: inline-block;
	font-size:.85em;
	text-align:center;
}
#startBox01 .siteLine .side-nav li a {
  font-weight:normal;
	padding:0 0 0 1em;
}*/

/* #t4959, 200422, dwildt, 13+*/
#startBox01 ul.vertical {
	padding: 0;
}
#startBox01 ul.vertical.right {
	text-align:right;
}
#startBox01 ul.vertical li {
	display: inline-block;
	font-size:.85em;
	margin: 0 0 0 1rem;
	text-align:center;
}
#startBox01 ul.vertical li:first-child {
	margin: 0;
}
#startBox01 ul.vertical li a {
  font-weight:normal;
	padding: 0;
}

/* #i0292, 191218, dwildt, +*/
#startBox01 ul.breadcrumbs {
	margin: 0 auto;
}
/* #i0193, 181028, dwildt, +*/
#startBox01 footer ul.side-nav {
	padding: 0;
}
/* #i0193, 181028, dwildt, +*/
#startBox01 footer .side-nav h3 {
	font-size: 1rem;
	margin: 0;
	text-transform: uppercase;
}
/* #i0193, 181028, dwildt, +*/
#startBox01 footer .side-nav li a:not(.button) {
	padding: 0;
}
/* #i0320, 200421, dwildt, +*/
#startBox01 footer.expanded {
	max-width: 100%;
}

#startBox01 ul.language-menu li {
	border-left: 1px solid #000;
	display: inline;
	padding: 0 0.5rem;
}
#startBox01 ul.language-menu li:first-child {
	border: inherit;
	padding-left: 0;
}
#startBox01 ul.language-menu li:last-child {
	padding-right: 0;
}

#startBox01 p.copyright {
	font-size:.75rem;
	margin:0;
	padding:1rem 0 0 0;
}

/* #i0157, 180425, dwildt, 5+ */
/*#flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexcenterbugfix {
	display: inline;
	width: 0;
	overflow: hidden;
}*/

@media only screen and (min-width: 40.063em) {
	.startFigCaptionHideForSmallOnly figcaption {
		display: block;
	}
	#startBox01 .vertical nav {
		position:fixed;
		z-index:2;
	}
	#startBox01 .vertical nav ul.left,
	#startBox01 .vertical nav ul.right {
		float:none !important;
	}
	#startBox01 .vertical nav li {
		float:none;
	}
	#startBox01 .vertical nav li.divider {
		height:inherit;
	}
}
