.vertical nav li.separator {
	color:transparent;
	line-height:2.8125rem
}

@media only screen and (min-width: 40.063em) {
	.vertical nav {
		position:fixed;
		z-index:2;
	}
	.vertical nav ul.left,
	.vertical nav ul.right {
		float:none !important;
	}
	.vertical nav li {
		float:none;
	}
	.vertical nav li.divider {
		height:inherit;
	}
}