#startBox01 a.internal-link::after {
	content: "\f165";
	font-family: "foundation-icons";
	padding-left: .4em;
}

#startBox01 a[href^="mailto"]::after,
#startBox01 a[href^="javascript:linkTo_UnCryptMailto"]::after {
	content: "\f16d";
	font-family: "foundation-icons";
	padding-left: .4em;
}

#startBox01 a.external-link::after,
#startBox01 a.external-link-new-window::after {
	content: "\f12d";
	font-family: "foundation-icons";
	padding-left: .4em;
}

#startBox01 a.download::after {
	content: "\f143";
	font-family: "foundation-icons";
	padding-left: .4em;
}

/* #i0091, 170303, dwildt: responsive images */
#startBox01 figure,
#startBox01 div.csc-textpic .csc-textpic-imagewrap figure,
#startBox01 figcaption,
#startBox01 figcaption.csc-textpic-caption {
	display: block;
}
/* #i0091, 170303, dwildt: responsive images */
#startBox01 div.csc-textpic div.csc-textpic-imagecolumn,
#startBox01 .csc-textpic-imagewrap {
	max-width: 100%;
}
#startBox01 .csc-textpic-center img {
	margin:0 auto;
}

#startBox01 .clearing-thumbs .tx_browser_wrapbefore {
	clear: both;
}

#startBox01 .startFontLightOnDark {
}

#startBox01 .startHyphensAuto,
#startBox01 .startHyphensAuto p {
	hyphens:auto;
}
#startBox01 .startHyphensNone,
#startBox01 .startHyphensNone p {
	hyphens:none;
}

#startBox01 .startImgCircle img {
	border-radius: 20em;
}
#startBox01 .startImgCircleReset img {
	border-radius: inherit;
}
#startBox01 .startImgWiShadow,
#startBox01 .startImgWiShadow div.csc-textpic, 
#startBox01 .startImgWiShadow div.csc-textpic div.csc-textpic-imagerow, 
#startBox01 .startImgWiShadow div.csc-textpic div.csc-textpic-imagewrap, 
#startBox01 .startImgWiShadow ul.csc-uploads li {
	overflow: visible;
}
#startBox01 .startImgWiShadow img {
  -moz-box-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
#startBox01 .startImgWiShadowReset,
#startBox01 .startImgWiShadowReset div.csc-textpic, 
#startBox01 .startImgWiShadowReset div.csc-textpic div.csc-textpic-imagerow, 
#startBox01 .startImgWiShadowReset div.csc-textpic div.csc-textpic-imagewrap, 
#startBox01 .startImgWiShadowReset ul.csc-uploads li {
	overflow: hidden;
}
#startBox01 .startImgWiShadowReset img {
  -moz-box-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#startBox01 .startWoMarginLeft {
	margin-left: -0.9375rem;
}
#startBox01 .startWoMarginLeftRight {
	margin: 0 -0.9375rem;
}
#startBox01 .startWoMarginRight {
	margin-right: -0.9375rem;
}
#startBox01 .startTopMinus1Em {
	margin-top: -1rem;
}

#startBox01 .pad-left {
  padding-left: 0.9375rem;
}
#startBox01 .pad-right {
  padding-right: 0.9375rem;
}

#startBox01 .no-pad-left {
  padding-left: 0;
}
#startBox01 .no-pad-right {
  padding-right: 0;
}

#startBox01 .vertical nav li.separator {
	color:transparent;
	line-height:2.8125rem
}

@media only screen and (min-width: 40.063em) {
	#startBox01 .vertical nav {
		position:fixed;
		z-index:2;
	}
	#startBox01 .vertical nav ul.left,
	#startBox01 .vertical nav ul.right {
		float:none !important;
	}
	#startBox01 .vertical nav li {
		float:none;
	}
	#startBox01 .vertical nav li.divider {
		height:inherit;
	}
}