a.internal-link::after {
	content: "\f165";
	font-family: "foundation-icons";
	padding-left: .4em;
}

a[href^="mailto"]::after,
a[href^="javascript:linkTo_UnCryptMailto"]::after {
	content: "\f16d";
	font-family: "foundation-icons";
	padding-left: .4em;
}

a.external-link::after,
a.external-link-new-window::after {
	content: "\f12d";
	font-family: "foundation-icons";
	padding-left: .4em;
}

a.download::after {
	content: "\f143";
	font-family: "foundation-icons";
	padding-left: .4em;
}


.clearing-thumbs .tx_browser_wrapbefore {
	clear: both;
}

.startImgCircle img {
	border-radius: 20em;
}

.startWoPadding {
	margin: 0 -0.9375rem;
}
.startWoPaddingLeft {
	margin-left: -0.9375rem;
}
.startWoPaddingRight {
	margin-right: -0.9375rem;
}
.startTopMinus1Em {
	margin-top: -1rem;
}

.vertical nav li.separator {
	color:transparent;
	line-height:2.8125rem
}

@media only screen and (min-width: 40.063em) {
	.vertical nav {
		position:fixed;
		z-index:2;
	}
	.vertical nav ul.left,
	.vertical nav ul.right {
		float:none !important;
	}
	.vertical nav li {
		float:none;
	}
	.vertical nav li.divider {
		height:inherit;
	}
}