/*
 * Keep in mind: 
 *		* dynamic css is placed @
 *			Resources/Private/Templates/FluidStyledContent/Headlineimage/Headlineimage.html
 *		* startgreen might have a css @
 *			Resources/Public/Css/style/2010141/
 */

.headlinecontainer {
	align-items: center;
	background-size:cover;
	justify-content: center;
}

.wiImage .headlinetextoverlay h1,
.wiImage .headlinetextoverlay p {
	color:white;
}
.wiImage .headlinetextoverlay h1 a,
.wiImage .headlinetextoverlay p a {
	color:white;
}

/*.headlinetextoverlay h1 {
	font-size:2em;
}
.headlinetextoverlay p {
	font-size:1.2em;
}*/

/* 700px x 500px*/
@media only screen and (min-width: 43.75em) and (min-height: 31.25em) {
/*	.headlinetextoverlay h1 {
		font-size:2em;
	}
	.headlinetextoverlay p {
		font-size:1.2em;
	}*/
}
/* 360px x 650px */
@media only screen and (min-width: 22.5em) and (min-height: 40.625em) {
/*	.headlinetextoverlay h1 {
		font-size:3em;
	}
	.headlinetextoverlay p {
		font-size:1.2em;
	}*/
}

/* 1.000px x 500px */
@media only screen and (min-width: 62.5em) and (min-height: 31.25em) {
	.headlinetextoverlay {
	}
}

/* 700px x 700px */
@media only screen and (min-height: 43.75em) and (min-width: 43.75em) {
/*	.headlinetextoverlay h1 {
		font-size:4em;
	}
	.headlinetextoverlay p {
		font-size:1.8em;
	}*/
}
