/*
 * Keep in mind: 
 *		* dynamic css is placed @
 *			Resources/Private/Templates/FluidStyledContent/Jumboteaser/Jumboteaser.html
 *		* startgreen has a css @
 *			Resources/Public/Css/style/2010141/jumboteaser.css
 */

.jumboteaserContainer {
	overflow:hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.jumboteaserTextoverlay {
	text-align: center;
}

.wiImage .jumboteaserTextoverlay h1,
.wiImage .jumboteaserTextoverlay p {
	color:white;
}
.wiImage .jumboteaserTextoverlay h1 a,
.wiImage .jumboteaserTextoverlay p a {
	color:white;
}

/*.jumboteaserTextoverlay a.button {
	font-size:0.75em;
}
.jumboteaserTextoverlay h1 {
	font-size:2em;
}
.jumboteaserTextoverlay p {
	font-size:1.1em;
}*/

/* 700px x 500px*/
@media only screen and (min-width: 43.75em) and (min-height: 31.25em) {
/*	.jumboteaserTextoverlay a.button {
		font-size:0.75em;
	}
	.jumboteaserTextoverlay h1 {
		font-size:3em;
	}
	.jumboteaserTextoverlay p {
		font-size:1.2em;
	}*/
}
/* 360px x 650px */
@media only screen and (min-width: 22.5em) and (min-height: 40.625em) {
/*	.jumboteaserTextoverlay a.button {
		font-size:0.75em;
	}
	.jumboteaserTextoverlay h1 {
		font-size:3em;
	}
	.jumboteaserTextoverlay p {
		font-size:1.2em;
	}*/
}

/* 1.000px x 500px */
@media only screen and (min-width: 62.5em) and (min-height: 31.25em) {
/*	.jumboteaserTextoverlay {
		max-width: 50%;
	}*/
}

/* 700px x 700px */
@media only screen and (min-height: 43.75em) and (min-width: 43.75em) {
/*	.jumboteaserTextoverlay a.button {
		font-size:0.75em;
	}
	.jumboteaserTextoverlay h1 {
		font-size:5em;
	}
	.jumboteaserTextoverlay p {
		font-size:1.8em;
	}*/
}