/*
 * Keep in mind: 
 *		* dynamic css is placed @
 *			Resources/Private/Templates/FluidStyledContent/Jumboteaser/Jumboteaser.html
 *		* startgreen has a css @
 *			Resources/Public/Css/style/2010141/jumboteaser.css
 */

.jumboteaserContainer {
	align-items: center;
	justify-content: center;
	overflow:hidden;
	position: relative;
}

.jumboteaserContainer .bg-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	z-index: 1;
}

.jumboteaserContainer .onepagedown {
	position: absolute;
	/*top:calc(100vH - 10rem);*/
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
	z-index: 2;
}
.jumboteaserTextoverlay {
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 2;
	overflow: hidden;
  /*top: 50%;  <- set by content editor! */
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumboteaserContainer.wiImage h1,
.jumboteaserContainer.wiImage p {
	color:white;
}
.jumboteaserContainer.wiImage h1 a:not(.button),
.jumboteaserContainer.wiImage p a:not(.button) {
	color:white;
}

.jumboteaserContainer .onepagedown .arrow {
  border-width: 0 .75rem .75rem 0;
  padding: .75rem;
}