div.mega-menu-content {
	z-index: 999;
  -webkit-box-shadow: 0 20px 30px -20px black;
  -moz-box-shadow: 0 20px 30px -20px black;
  box-shadow: 0 20px 30px -20px black;
}
div.mega-menu-content > .row {
	margin:0;
}
div[id*='mega-menu-']{
}
.show {
	display: block;
}