/*
 * Keep in mind: 
 *		* dynamic css is placed @
 *			Resources/Private/Templates/FluidStyledContent/Headlineimage/Headlineimage.html
 *		* startgreen might have a css @
 *			Resources/Public/Css/style/2010141/
 */

.teasercardcontainer {
	align-items: center;
	background-size:cover;
	justify-content: center;
}

.wiImage .teasercardtextoverlay .boxleft h2,
.wiImage .teasercardtextoverlay .boxleft h3 {
	color:white;
}
.wiImage .teasercardtextoverlay .boxleft h2 a,
.wiImage .teasercardtextoverlay .boxleft h3 a {
	color:white;
}

.teasercardtextoverlay .number {
	background:#F0F0F0;
	padding:2px 4px;
}
.wiImage .teasercardtextoverlay .number {
	background:#F0F0F0;
	color:#000;
}
