#startBox01 .carousel .news-img-wrap.clearing-thumbs.small-block-grid-1 {
	background:inherit;
}
#startBox01 .news-img-wrap.clearing-thumbs.small-block-grid-1 {
	margin-left: 25px;
}
#startBox01 .clearing-thumbs figure a {
	float: none;
}
